{% extends "base.html" %}

{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Welcome to Library News</h1>
            <p class="lead fw-normal text-white-100 mb-0">About us</p>
        </div>
    </div>
</header>

<div class="content-overlay">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center text-white">
                <p align="justify">
                </br></br>
                    Our company was founded in January 2025 by Manos Lyrantzakis, a passionate developer with a vision to empower people through knowledge and technology.
                    What started as a love for programming quickly grew into a mission to share resources and tools with the wider community.<br><br>
                    Initially, we began by offering a curated selection of programming books, helping individuals kickstart or enhance their tech journeys.
                    Over time, we expanded our catalog to include tech gadgets, software, and tools designed for developers and enthusiasts alike.<br><br>
                    At the heart of our company is a commitment to inspire, educate, and support a growing community of innovators.
                    Whether you’re just starting to code or pushing the boundaries of technology, we’re here to provide the resources and inspiration you need to succeed.
                    Founded with passion, built for progress—together, let’s shape the future.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
